#container {
    width: 240px;
    background-color: #615e5e;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
}

#manufacturer {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

#connection,
#sensor,
#buttons,
#color {
    font-size: 14px;
    margin-bottom: 5px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.delete {
    background-color: #b61509;
}

.edit {
    background-color: #66bb11;
}

.button:hover {
    filter: brightness(120%);
}

.delete:hover {
    filter: brightness(130%);
}

.edit:hover {
    filter: brightness(130%);
}

